/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.icon-class {
  color: #00d2d9;
}

app-stage-one, app-stage-two, app-stage-three {
  width: 100%;
}

.result-format {
  overflow: auto;
  margin-left: auto;
  width: 500px;
  margin-right: auto;
  height: 100%;
  border: 1px solid #0000001f;
  border-radius: 5px;
  padding: 40px;
  background-color: #77777761;
}

.button-submit {
  width: 100%; 
  margin-top: 20px; 
  margin-bottom: 20px;
}

.mat-divider{
  margin: 10px;
}
