<section class="mat-typography">
  <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="2">
        <div class="text-center">
          <h1>{{ 'LEVEL_1' | translate }}</h1>
          <h3>{{ 'RESUME_1' | translate }}</h3>
        </div>        
      </mat-grid-tile>      
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="2"
      >  
        <div>
          <mat-divider></mat-divider>
          <pre #stageOne>
            100000  ATIVO             1000  300   500   1200
            110000  ATIVO CIRCULANTE  500   100   200   600
            111000  DISPONIVEL        200   100   50    150
            200000  PASSIVO           800   250   450   1000
          </pre>
          <mat-divider></mat-divider>
          <div fxLayoutAlign="center center" class="button-submit">
            <button mat-flat-button color="primary" (click)="genarateJson()">{{ 'SUBMIT' | translate }}</button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile 
          *ngIf="result.length > 0"
          [colspan]="3"
          [rowspan]="5"
        >
          <div class="result-format">
            <pre>
              {{result}}                    
            </pre>
          </div>
      </mat-grid-tile>
      <mat-grid-tile
        *ngIf="balances.length > 0"
        [colspan]="3"
        [rowspan]="1"
      >
        <div fxLayoutAlign="center center" class="button-submit">
          <button mat-flat-button color="primary" (click)="save()" >{{ 'SAVE' | translate }}</button>
        </div>
      </mat-grid-tile>
  </mat-grid-list>
  
    
</section>