<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #drawer role="navigation" class="side-nav">
      <app-sidenav-list (sidenavClose)="drawer.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="drawer.toggle()"></app-header>
      <main class="container">
        <alert class="row mt-4 justify-content-center"></alert>
        <div class="row" style="width: 100%;">
          <router-outlet></router-outlet>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>